= form_for @discussion, html: {class:'form-horizontal', style: 'margin:20px'} do |f|
  = hidden_field_tag 'discussion[parent_id]', @discussion.parent_id
  = f.text_area :body, style: "width:500px;height:80px;", placeholder: "Текст комментария ...", row: 6
  = f.submit 'опубликовать', class: "btn btn-large btn-info", style: 'text-align:center;width:300px;margin:8px auto;display:block'