$('.modal').html("<div class='modal-header'><button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button><h3>Спасибо</h3></div><div class='modal-body'><p>Благодарим Вас за проявленный интерес к сайту. В самое ближайшее время наш сотрудник ответи на вопрос, после чего Вы сможете найти сам вопрос и ответ на данной странице.</p></div>");
$('.modal').modal();
$('#inputTitle').val('');
$('#inputBody').val('');
$('#collapseOne').collapse('hide');