Доброго Вам времени суток!

Вы успешно зарегистрировались на сайте sravnim-ka.ru
Для того, чтобы активировать Вашу учетную запись, перейдите, пожалуйста, по нижеуказанной ссылке:
#{@url}.

Спасибо за внимание и хорошего настроения!