.alert.alert-info
  %p{align: 'center'} Приносим свои извинения, но информации по магазинам данного города нет.
  %p{align: 'center'} Надеемся на сотрудничество с сетями и отдельными продуктовыми магазинами города.
  %p{align: 'center'} &nbsp;
  %p{align: 'center'}
    = link_to new_photo_price_path do
      %strong Помогите нам и заинтересованным в экономии людям, закачав кассовый чек с магазина