.alert.alert-info
  %p{align: 'center'} Приносим свои извинения, но информации по магазинам данного города нет.
  %p{align: 'center'} Надеемся на сотрудничество с сетями и отдельными продуктовыми магазинами города.